{% extends "base.html" %}

{% block title %}
SmartPiper Home
{% endblock %}

{% block content %}

{% include "header.html" %}
{% load static %}
<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="main-ws-sec">
                            <div class="posts-section">
                                <div class="post-bar">
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <a style="text-decoration: none;" href="/profile/{{ event.uploader.id }}" >
                                            <img style="max-height:50px;max-width:50px;height:auto;width:auto;" src="{{ event.uploader.profile_photo.url }}" alt="">
                                            <div class="usy-name">
                                                <h3>{{ event.uploader.first_name }} {{ event.uploader.last_name }}</h3>
                                                <span><img src="{%static 'songs_files/clock.png' %}" alt="">{{ event.upload_date }}</span>
                                            </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="epi-sec">
                                        <ul class="descp">
                                            <li><img src="{%static 'songs_files/icon8.png' %}" alt=""><span>Bag Piper</span>
                                            </li>
                                            <li><img src="{%static 'songs_files/icon9.png' %}" alt=""><span>{{ event.uploader.country }}</span></li>
                                        </ul>
                                        <ul class="bk-links">
                                            <li><a style="text-decoration: none;" href="#" title=""><i class="la la-bookmark"></i></a></li>
                                            <li><a style="text-decoration: none;" href="#" title=""><i class="la la-envelope"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="job_descp accountnone">
                                        <h3>{{ event.name }}</h3>
                                        <ul class="job-dt">
                                            <li><a style="text-decoration: none;" href="#" title="">Muiñeira</a></li>
                                            <li><a style="text-decoration: none;" href="#" title="">Dificil</a></li>
                                            <li><span>1,5 min</span></li>
                                        </ul>
                                        <p>{{ event.description }}
                                            <br>
                                            <br>
                                        </p>
                                        <p><img src="{{ event.poster.url }}">
                                            <br>
                                            <br>
                                        </p>
                                    </div>
                                    <div class="job-status-bar btm-line">
                                        <ul class="like-com">
                                            <li>
                                                <a style="text-decoration: none;" href="#"><i class="fas fa-heart"></i> Like</a>
                                                <img src="{%static 'songs_files/liked-img.png' %}" alt="">
                                                <span>25</span>
                                            </li>
                                            <li><a style="text-decoration: none;" href="#" class="com"><i class="fas fa-comment-alt"></i> Comments
                                                    15</a></li>
                                        </ul>
                                        <a style="text-decoration: none;" href="#"><i class="fas fa-eye"></i>Views {{ event.views }}</a>
                                    </div>
                                    <div class="comment-area">
                                        <i class="la la-plus-circle"></i>
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                <img src="{%static 'songs_files/bg-img1.png' %}" alt="">
                                                <div class="usy-name">
                                                    <h3>John Doe</h3>
                                                    <span><img src="{%static 'songs_files/clock.png' %}" alt="">3 min ago</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-area">
                                            <p>Lorem ipsum dolor sit amet,</p>
                                            <span><i class="la la-mail-reply"></i>Reply</span>
                                            <div class="comment-area reply-rply1">
                                                <div class="post_topbar">
                                                    <div class="usy-dt">
                                                        <img src="{%static 'songs_files/bg-img2.png' %}" alt="">
                                                        <div class="usy-name">
                                                            <h3>John Doe</h3>
                                                            <span><img src="{%static 'songs_files/clock.png' %}" alt="">3 min
                                                                ago</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reply-area">
                                                    <p>Hi John</p>
                                                    <span><i class="la la-mail-reply"></i>Reply</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-area">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                <img src="{%static 'songs_files/bg-img3.png' %}" alt="">
                                                <div class="usy-name">
                                                    <h3>John Doe</h3>
                                                    <span><img src="{%static 'songs_files/clock.png' %}" alt="">3 min ago</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-area">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus
                                                hendrerit metus, ut ullamcorper quam finibus at.</p>
                                            <span><i class="la la-mail-reply"></i>Reply</span>
                                        </div>
                                    </div>
                                    <div class="postcomment">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="{%static 'songs_files/bg-img4.png' %}" alt="">
                                            </div>
                                            <div class="col-md-8">
                                                <form data-bitwarden-watching="1">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="inputPassword"
                                                            placeholder="Post a comment">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-2">
                                                <a style="text-decoration: none;" href="#">Send</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12">
                        <div class="right-sidebar">
                            <div class="widget widget-projectid">
                                <h3>Project ID : {{ event.id }}</h3>
                            </div>
                            <div class="widget widget-about bid-place">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#applyjob" data-whatever="@mdo">Donate</button>
                            </div>
                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>About the uploader</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="sd-title paymethd">
                                    <h4>Raputation</h4>
                                    <ul class="star">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                    </ul>
                                </div>
                                <div class="sd-title">
                                    <h4>Country</h4>
                                    <p>{{ event.uploader.country }}</p>
                                </div>
                                <div class="sd-title">
                                    <h4>Posts</h4>
                                    <p>20 Events | 15 Songs</p>
                                </div>
                                <div class="sd-title">
                                    <h4>Member Since</h4>
                                    <p>{{ event.uploader.date_joined }}</p>
                                </div>
                            </div>

                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Event Link</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="sd-title copylink">
                                    <p>Http://www.workwise.com/pro...</p>
                                    <span><a style="text-decoration: none;" href="#">Copy Link</a></span>
                                </div>
                            </div>

                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Share</h3>
                                </div>
                                <div class="sd-title copylink">
                                    <ul>
                                        <li>
                                            <img src="{%static 'songs_files/social3.png' %}" alt="image">
                                        </li>
                                        <li>
                                            <img src="{%static 'songs_files/social5.png' %}" alt="image">
                                        </li>
                                        <li>
                                            <img src="{%static 'songs_files/social1.png' %}" alt="image">
                                        </li>
                                        <li>
                                            <img src="{%static 'songs_files/social4.png' %}" alt="image">
                                        </li>
                                        <li>
                                            <img src="{%static 'songs_files/social2.png' %}" alt="image">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}

<script type="text/javascript" src="{%static 'songs_files/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{%static 'songs_files/jquery.range-min.js' %}"></script>
<script type="text/javascript" src="{%static 'songs_files/slick.min.js' %}"></script>

{% endblock %}