{% load static %}
<footer>
    <div class="footy-sec mn no-margin">
        <div class="container">
            <ul>
                <li><a style="text-decoration: none;" href="https://gambolthemes.net/workwise-new/help-center.html" title="">Help Center</a></li>
                <li><a style="text-decoration: none;" href="https://gambolthemes.net/workwise-new/about.html" title="">About</a></li>
                <li><a style="text-decoration: none;" href="#" title="">Privacy Policy</a></li>
                <li><a style="text-decoration: none;" href="#" title="">Community Guidelines</a></li>
                <li><a style="text-decoration: none;" href="#" title="">Cookies Policy</a></li>
                <li><a style="text-decoration: none;" href="#" title="">Career</a></li>
                <li><a style="text-decoration: none;" href="https://gambolthemes.net/workwise-new/forum.html" title="">Forum</a></li>
                <li><a style="text-decoration: none;" href="#" title="">Language</a></li>
                <li><a style="text-decoration: none;" href="#" title="">Copyright Policy</a></li>
            </ul>
            <p><img src="{%static 'songs_files/copy-icon2.png' %}" alt="">Copyright 2019</p>
        </div>
    </div>
</footer>