{% extends "base.html" %}

{% block title %}
SmartPiper Groups
{% endblock %}

{% block content %}

{% load static %}
    <div class="wrapper">
        {% include "header.html" %}
        <section class="companies-info">
            <div class="container">
                <div class="company-title">
                    <h3>All Groups</h3>
                </div>
                <div class="companies-list">
                    <div class="row">
                        {% for index, group in groups_to_show.items %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="company_profile_info">
                                <div class="company-up-info">
                                    <img src="{{ group.group.profile_photo.url }}" alt="">
                                    <h3>{{ group.group.name }}</h3>
                                    <h4>{{ group.group.creation_date }}</h4>
                                    <ul>
                                        <li><a href="#" title="" class="follow">Follow</a></li>
                                        <li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <a href="/group/{{ group.group.id}}" title=""
                                    class="view-more-pro">View Profile</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="process-comm">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>
        </section>
        {% include "footer.html" %}
    </div>


    <script type="text/javascript" src="{% static 'songs_files/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'songs_files/flatpickr.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'songs_files/slick.min.js' %}"></script>

{% endblock %}