{% extends "base.html" %}

{% block title %}
SmartPiper Home
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/midi.js"></script>
<script src="https://cdn.jsdelivr.net/npm/soundfont-player/dist/soundfont-player.js"></script>

{% load static %}
<div class="wrapper">
  {% include "header.html" %}

  <script>

    // Cargar la biblioteca Web MIDI API para comunicarse con dispositivos MIDI
    const midi = navigator.requestMIDIAccess();

    // Cargar el archivo SF2 deseado una sola vez
    {% load static %}
    const soundfontPromise = Soundfont.instrument(new AudioContext(), "{% static 'soundfont/bag_pipe-mp3.js' %}", { loop: true }).catch((error) => {
      console.error('Error loading soundfont:', error);
    });

    // Objeto Map para almacenar las notas que se están reproduciendo
    const activeNotes = new Map();

    // Variable global para almacenar el instrumento cargado
    let soundfont;

    // Función para cargar el instrumento MIDI
    async function loadInstrument() {
      soundfont = await soundfontPromise;
      console.log('Instrument loaded successfully!');
    }


    // Función para reproducir una nota MIDI en el sintetizador
    async function playNote(noteNumber, velocity, options = {}) {
      // Verificar si la nota ya está sonando
      if (activeNotes.has(noteNumber)) {
        return;
      }

      // Cargar el instrumento MIDI si aún no se ha cargado
      if (!soundfont) {
        console.log('Loading instrument...');
        await loadInstrument();
      }

      // Combinar las opciones internas con las opciones proporcionadas
      const mergedOptions = {
        gain: velocity / 127,
        attack: 0.0,
        decay: 0.0,
        sustain: 1.0,
        release: 0.0,
        loop: true,
        ...options
      };

      // Reproducir la nota MIDI en el sintetizador con las opciones combinadas
      const note = soundfont.play(noteNumber, 0, mergedOptions);

      // Agregar la nota al objeto Map
      activeNotes.set(noteNumber, note);
    }



    // Función para detener una nota MIDI en el sintetizador
    function stopNote(noteNumber) {
      // Verificar si la nota está sonando
      if (!activeNotes.has(noteNumber)) {
        return;
      }

      // Detener la nota en el sintetizador
      const note = activeNotes.get(noteNumber);
      note.stop();

      // Eliminar la nota del objeto Map
      activeNotes.delete(noteNumber);
    }


    function stopNoteAll() {
      // Iterar sobre el objeto que contiene todas las notas que se están reproduciendo
      for (let note in activeNotes) {
        // Detener la nota
        soundfont.stop(note);
        // Eliminar la nota del objeto
        delete activeNotes[note];
      }
    }


    // Configurar la comunicación MIDI
    midi.then((access) => {
      const inputs = access.inputs.values();
      const notesPlaying = new Set(); // Registro de notas que se están reproduciendo
      let secondNoteTimeout = null; // Timeout para detener la segunda nota

      for (let input of inputs) {
        // Agregar un listener para procesar las notas MIDI entrantes
        input.onmidimessage = (event) => {
          // Imprimir los datos del mensaje MIDI en la consola
          console.log(`MIDI message received: ${event.data[0]} ${event.data[1]} ${event.data[2]}`);

          // Obtener el número de nota MIDI y la velocidad de la entrada
          const noteNumber = event.data[1];
          const velocity = event.data[2];

          // Verificar si la nota es de tipo "note on" o "note off"
          if (event.data[0] === 144 && velocity > 0) {
            // "Note on" - reproducir la nota en el sintetizador
            playNote(noteNumber, velocity);

            // Reproducir la nota del ronco al mismo tiempo
            const bassNoteNumber = 48;
            playNote(bassNoteNumber, velocity, { loopStart: 2.255519771, loopEnd: 2.756509330 });
            notesPlaying.add(noteNumber); // Agregar la nota al registro

            // Reproducir la nota de la ronqueta al mismo tiempo
            const tenorNoteNumber = 55;
            playNote(tenorNoteNumber, velocity, { loopStart: 2.650727751, loopEnd: 3.110472911 });
            notesPlaying.add(noteNumber);

            // Detener la segunda nota si se deja de tocar la primera nota después de 2 segundos
            clearTimeout(secondNoteTimeout);
            secondNoteTimeout = setTimeout(() => {
              if (!notesPlaying.has(noteNumber)) {
                stopNote(bassNoteNumber);
                stopNote(tenorNoteNumber);
              }
            }, 2000);

          } else if (event.data[0] === 128 || (event.data[0] === 144 && velocity === 0)) {
            // "Note off" - detener la nota en el sintetizador
            stopNote(noteNumber);
            notesPlaying.delete(noteNumber); // Quitar la nota del registro

            // Detener la segunda nota si ya no se están reproduciendo notas
            if (notesPlaying.size === 1) {
              clearTimeout(secondNoteTimeout);
              stopNoteAll();
            }
          }
        }
      }
    });


  </script>

  <main>
    <div class="main-section">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            <div class="col-lg-3">
              <div class="filter-secs">
                <div class="filter-heading">
                  <h3>Midi Synthetizer</h3>
                </div>
                <div class="paddy">
                  <div class="filter-dd">
                    <div class="filter-ttl">
                      <h3>Control</h3>
                    </div>
                    <form>
                      <div style="text-align: center;">
                      <button type="button">Start Synthetizer</button>
                      </div>
                    </form>
                    <br><br>
                  </div>
                  <div class="filter-dd">
                    <div class="filter-ttl">
                      <h3>Soundfont</h3>
                    </div>
                    <form class="job-tp">
                      <select>
                        <option selected="selected">bag_pipe-mp3.js</option>
                        <option>Piano</option>
                        <option>Guitar</option>
                        <option>Flute</option>
                      </select>
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="right-sidebar">
                <div class="widget widget-jobs">
                  <div class="sd-title">
                    <h3>Drones</h3>
                  </div>
                  <div class="jobs-list">
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Bass drone:</h3>
                        <p>48</p>
                      </div>
                    </div>
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Tenor drone:</h3>
                        <p>55</p>
                      </div>
                    </div>
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Drones end timeout (ms):</h3>
                        <p>200</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="right-sidebar">
                <div class="widget widget-jobs">
                  <div class="sd-title">
                    <h3>Synthetizer options</h3>
                  </div>
                  <div class="jobs-list">
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Gain:</h3>
                        <p>1.0</p>
                      </div>
                    </div>
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Attack:</h3>
                        <p>0.0</p>
                      </div>
                    </div>
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Decay:</h3>
                        <p>0.0</p>
                      </div>
                    </div>
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Sustain:</h3>
                        <p>1.0</p>
                      </div>
                    </div>
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Release:</h3>
                        <p>0.0</p>
                      </div>
                    </div>
                    <div class="job-info">
                      <div class="job-details">
                        <h3>Loop:</h3>
                        <p>true</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="right-sidebar">
                <div class="widget widget-about">
                  <img src="{% static 'logo.png' %}" alt="">
                  <h3>Social Bagpiper</h3>
                  <span>Your bagpipe colaborative network</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </main>
</div>

{% include "footer.html" %}

<script type="text/javascript" src="{% static 'songs_files/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'songs_files/jquery.range-min.js' %}"></script>
<script type="text/javascript" src="{% static 'songs_files/slick.min.js' %}"></script>

</div>

{% endblock %}