{% extends "base.html" %}

{% block title %}
SmartPiper Songs
{% endblock %}

{% block content %}

{% load static %}
{% include "header.html" %}
        <div class="search-sec">
            <div class="container">
                <div class="search-box">
                    <form>
                        <input type="text" name="search" placeholder="Search keywords">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <main>
            <div class="main-section">
                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="filter-secs">
                                    <div class="filter-heading">
                                        <h3>Filters</h3>
                                        <a style="text-decoration: none;" href="#" title="">Clear all filters</a>
                                    </div>
                                    <div class="paddy">
                                        <div class="filter-dd">
                                            <div class="filter-ttl">
                                                <h3>Topics</h3>
                                                <a style="text-decoration: none;" href="#" title="">Clear</a>
                                            </div>
                                            <form>
                                                <input type="text" name="search-topics" placeholder="Search topics">
                                            </form>
                                        </div>
                                        <div class="filter-dd">
                                            <div class="filter-ttl">
                                                <h3>Song Type</h3>
                                                <a style="text-decoration: none;" href="#" title="">Clear</a>
                                            </div>
                                            <form class="job-tp">
                                                <select>
                                                    <option selected="selected">Select a song type</option>
                                                    <option>Muiñeira</option>
                                                    <option>Rumba</option>
                                                    <option>Pasodoble</option>
                                                </select>
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </form>
                                        </div>
                                        <div class="filter-dd">
                                            <div class="filter-ttl">
                                                <h3>Level</h3>
                                                <a style="text-decoration: none;" href="#" title="">Clear</a>
                                            </div>
                                            <form class="job-tp">
                                                <select>
                                                    <option selected="selected">Select a level</option>
                                                    <option>Easy</option>
                                                    <option>Medium</option>
                                                    <option>Difficult</option>
                                                </select>
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </form>
                                        </div>
                                        <div class="filter-dd">
                                            <div class="filter-ttl">
                                                <h3>Countries</h3>
                                                <a style="text-decoration: none;" href="#" title="">Clear</a>
                                            </div>
                                            <form class="job-tp">
                                                <select>
                                                    <option selected="selected">Select a country</option>
                                                    <option>Spain</option>
                                                    <option>France</option>
                                                    <option>Ireland</option>
                                                </select>
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="main-ws-sec">
                                    <div class="posts-section">
                                        {% for index, song in songs_to_show.items %}
                                    <div class="post-bar">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                <a style="text-decoration: none;" href="/profile/{{ song.song.uploader.id }}" >
                                                <img style="max-height:50px;max-width:50px;height:auto;width:auto;" src="{{ song.song.uploader.profile_photo.url }}" alt="">
                                                <div class="usy-name">
                                                    <h3>{{ song.song.uploader.first_name }} {{ song.song.uploader.last_name }}</h3>
                                                    <span><img src="{% static '/login_files/clock.png' %}" alt="">{{ song.song.upload_date }}</span>
                                                </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="epi-sec">
                                            <ul class="descp">
                                                <li><img src="{% static '/login_files/icon8.png' %}" alt=""><span>Bag Piper</span></li>
                                                <li><img src="{% static '/login_files/icon9.png' %}"
                                                        alt=""><span>{{ song.song.uploader.country }}</span></li>
                                            </ul>
                                            <ul class="bk-links">
                                                <li><a style="text-decoration: none;" href="#" title=""><i class="la la-bookmark"></i></a></li>
                                                <li><a style="text-decoration: none;" href="#" title=""><i class="la la-envelope"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="job_descp">
                                            <h3>{{ song.song.name }}</h3>
                                            <ul class="job-dt">
                                                <li><a style="text-decoration: none;" href="#" title="">Muiñeira</a></li>
                                                <li><a style="text-decoration: none;" href="#" title="">Dificil</a></li>
                                                <li><span>1,5 min</span></li>
                                            </ul>
                                            <p>{{ song.song.description }}
                                                <br>
                                                <br>
                                                <a style="text-decoration: none;" href="/song/{{ song.song.id }}" title="">View more</a>
                                            </p>
                                            <ul class="skill-tags">
                                                {% for tag in song.tags %}
                                                <li><a style="text-decoration: none;" href="#" title="">{{ tag.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="job-status-bar">
                                            <ul class="like-com">
                                                <li>
                                                    <a style="text-decoration: none;" href="#"><i class="fas fa-heart"></i> Like</a>
                                                    <img src="{% static '/login_files/liked-img.png' %}" alt="">
                                                    <span>25</span>
                                                </li>
                                                <li><a style="text-decoration: none;" href="#" class="com"><i class="fas fa-comment-alt"></i>
                                                        Comment 15</a></li>
                                            </ul>
                                            <a style="text-decoration: none;" href="#"><i class="fas fa-eye"></i>Views {{ song.song.views }}</a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                        <div class="process-comm">
                                            <div class="spinner">
                                                <div class="bounce1"></div>
                                                <div class="bounce2"></div>
                                                <div class="bounce3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="right-sidebar">
                                    <div class="widget widget-about">
                                        <img src="{% static 'logo.png' %}" alt="">
                                        <h3>Social Bagpiper</h3>
                                        <span>Your bagpipe colaborative network</span>
                                    </div>
                                    <div class="widget widget-jobs">
                                        <div class="sd-title">
                                            <h3>Incomming events</h3>
                                        </div>
                                        <div class="jobs-list">
                                            {% for incomming_event in incomming_events %}
                                            <div class="job-info">
                                                <a href="/event/{{ incomming_event.id }}">
                                                    <div class="job-details">
                                                        <h3>{{ incomming_event.name }}</h3>
                                                        <p>{{ incomming_event.start_date }} - {{ incomming_event.end_date }}</p>
                                                    </div>
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="suggestions full-width">
                                        <div class="sd-title">
                                            <h3>People suggestions</h3>
                                        </div>
                                        <div class="suggestions-list">
                                            {% for recommended_user in recommended_users %}
                                            <div class="suggestion-usd">
                                                <a href="/profile/{{ recommended_user.id }}">
                                                    <img style="max-height:35px;max-width:35px;height:auto;width:auto;"  src="{{ recommended_user.profile_photo.url }}" alt="">
                                                    <div class="sgt-text">
                                                        <h4>{{ recommended_user.first_name }} {{ recommended_user.last_name }}</h4>
                                                        <span>{{ recommended_user.country }} </span>
                                                    </div>
                                                </a>
                                                <span><i class="la la-plus"></i></span>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    {% include "footer.html" %}

    <script type="text/javascript" src="{% static 'songs_files/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'songs_files/jquery.range-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'songs_files/slick.min.js' %}"></script>

{% endblock %}
