{% extends "base.html" %}

{% block title %}
SmartPiper Home
{% endblock %}

{% block content %}

{% load static %}
{% include "header.html" %}
<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="main-ws-sec">
                            <div class="posts-section">
                                <div class="post-bar">
                                    <div class="post_topbar">
                                        <div class="usy-dt">
                                            <img style="max-height:50px;max-width:50px;height:auto;width:auto;" src="{{ song.uploader.profile_photo.url }}" alt="">
                                            <div class="usy-name">
                                                <h3>{{ song.uploader.first_name }} {{ song.uploader.last_name }}</h3>
                                                <span><img src="{%static 'songs_files/clock.png' %}" alt="">{{ song.upload_date }}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="ed-opts">
                                            <a href="#" title="" class="ed-opts-open"><i
                                                    class="la la-ellipsis-v"></i></a>
                                            <ul class="ed-options">
                                                <li><a href="#" title="">Edit Post</a></li>
                                                <li><a href="#" title="">Unsaved</a></li>
                                                <li><a href="#" title="">Unbid</a></li>
                                                <li><a href="#" title="">Close</a></li>
                                                <li><a href="#" title="">Hide</a></li>
                                            </ul>
                                        </div> -->
                                    </div>
                                    <div class="epi-sec">
                                        <ul class="descp">
                                            <li><img src="{%static 'songs_files/icon8.png' %}" alt=""><span>Bag Piper</span>
                                            </li>
                                            <li><img src="{%static 'songs_files/icon9.png' %}" alt=""><span>{{ song.uploader.country }}</span>
                                            </li>
                                        </ul>
                                        <ul class="bk-links">
                                            <li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
                                            <li><a href="#" title=""><i class="la la-envelope"></i></a></li>
                                            <!-- <li><a href="#" title="" class="bid_now">Bid Now</a></li> -->
                                        </ul>
                                    </div>
                                    <div class="job_descp accountnone">
                                        <h3>{{ song.name }}</h3>
                                        <ul class="job-dt">
                                            <li><a href="#" title="">Muiñeira</a></li>
                                            <li><a href="#" title="">Dificil</a></li>
                                            <li><span>1,5 min</span></li>
                                        </ul>
                                        <p>{{ song.description }}
                                            <br>
                                            <br>
                                        <p>
                                            <midi-visualizer type="staff" id="myVisualizer"></midi-visualizer>
                                            <midi-player
                                                src="{{ song.midi_file.url }}"
                                                type="piano-roll"
                                                sound-font visualizer="#myVisualizer">
                                            </midi-player>
                                        </p>
                                        <!-- <ul class="skill-tags">
                                            <li><a href="#" title="">HTML</a></li>
                                            <li><a href="#" title="">PHP</a></li>
                                            <li><a href="#" title="">CSS</a></li>
                                            <li><a href="#" title="">Javascript</a></li>
                                            <li><a href="#" title="">Wordpress</a></li>
                                        </ul> -->
                                    </div>
                                    <div class="job-status-bar btm-line">
                                        <ul class="like-com">
                                            <li>
                                                <a href="#" class="active"><i class="fas fa-heart"></i> Like</a>
                                                <img src="{%static 'songs_files/liked-img.png' %}" alt="">
                                                <span>25</span>
                                            </li>
                                            <li><a href="#" class="com"><i class="fas fa-comment-alt"></i> Comments
                                                    15</a></li>
                                        </ul>
                                        <a href="#"><i class="fas fa-eye"></i>Views 50</a>
                                    </div>
                                    <div class="comment-area">
                                        <i class="la la-plus-circle"></i>
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                <img src="{%static 'songs_files/bg-img1.png' %}" alt="">
                                                <div class="usy-name">
                                                    <h3>John Doe</h3>
                                                    <span><img src="{%static 'songs_files/clock.png' %}" alt="">3 min
                                                        ago</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-area">
                                            <p>Lorem ipsum dolor sit amet,</p>
                                            <span><i class="la la-mail-reply"></i>Reply</span>
                                            <div class="comment-area reply-rply1">
                                                <div class="post_topbar">
                                                    <div class="usy-dt">
                                                        <img src="{%static 'songs_files/bg-img2.png' %}" alt="">
                                                        <div class="usy-name">
                                                            <h3>John Doe</h3>
                                                            <span><img src="{%static 'songs_files/clock.png' %}"
                                                                    alt="">3 min
                                                                ago</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="reply-area">
                                                    <p>Hi John</p>
                                                    <span><i class="la la-mail-reply"></i>Reply</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-area">
                                        <div class="post_topbar">
                                            <div class="usy-dt">
                                                <img src="{%static 'songs_files/bg-img3.png' %}" alt="">
                                                <div class="usy-name">
                                                    <h3>John Doe</h3>
                                                    <span><img src="{%static 'songs_files/clock.png' %}" alt="">3 min
                                                        ago</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="reply-area">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus
                                                hendrerit metus, ut ullamcorper quam finibus at.</p>
                                            <span><i class="la la-mail-reply"></i>Reply</span>
                                        </div>
                                    </div>
                                    <div class="postcomment">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img src="{%static 'songs_files/bg-img4.png' %}" alt="">
                                            </div>
                                            <div class="col-md-8">
                                                <form data-bitwarden-watching="1">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="inputPassword"
                                                            placeholder="Post a comment">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-2">
                                                <a href="#">Send</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-12">
                        <div class="right-sidebar">
                            <div class="widget widget-about bid-place">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#applyjob" data-whatever="@mdo">Place a Bid</button>
                            </div>

                            <div class="widget widget-projectid">
                                <h3>Project ID : 123456789</h3>
                                <p>Report Project</p>
                            </div>

                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>About the Client</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="sd-title paymethd">
                                    <h4>Payment Method</h4>
                                    <p>Verified</p>
                                    <ul class="star">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                        <li><a href="#">5.00 of 5 Reviews</a></li>
                                    </ul>
                                </div>
                                <div class="sd-title">
                                    <h4>India</h4>
                                    <p>SKS Nagar, Ludhiana 1 AM</p>
                                </div>
                                <div class="sd-title">
                                    <h4>20 Projects Posted | 15 Jobs Posted</h4>
                                    <p>85% Hire Rate, 15% Open Jobs</p>
                                </div>
                                <div class="sd-title">
                                    <h4>Member Since</h4>
                                    <p>August 24, 2017</p>
                                </div>
                            </div>

                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Project Link</h3>
                                    <i class="la la-ellipsis-v"></i>
                                </div>
                                <div class="sd-title copylink">
                                    <p>Http://www.workwise.com/pro...</p>
                                    <span><a href="#">Copy Link</a></span>
                                </div>
                            </div>

                            <div class="widget widget-jobs">
                                <div class="sd-title">
                                    <h3>Share</h3>
                                </div>
                                <div class="sd-title copylink">
                                    <ul>
                                        <li>
                                            <img src="{%static 'songs_files/social3.png' %}" alt="image">
                                        </li>
                                        <li>
                                            <img src="{%static 'songs_files/social5.png' %}" alt="image">
                                        </li>
                                        <li>
                                            <img src="{%static 'songs_files/social1.png' %}" alt="image">
                                        </li>
                                        <li>
                                            <img src="{%static 'songs_files/social4.png' %}" alt="image">
                                        </li>
                                        <li>
                                            <img src="{%static 'songs_files/social2.png' %}" alt="image">
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-12">
                    <div class="freelancerbiding">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <h3>Freelancers Bidding (4)</h3>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="repcent">
                                    <h3>Reputation<i class="la la-angle-down"></i></h3>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="bidrit">
                                    <h3>Bid (USD)</h3>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="usy-dt">
                                    <img src="{%static 'songs_files/jass.png' %}" alt="">
                                    <div class="usy-name">
                                        <h3>Jass Singh</h3>
                                        <span><img src="{%static 'songs_files/icon9.png' %}" alt="">India</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="repcent">
                                    <ul class="star">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                    </ul>
                                    <span>4.5</span>
                                    <p>3 Reviews</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="bidrit">
                                    <h3>$510</h3>
                                    <p>In 10 Days</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="usy-dt">
                                    <img src="{%static 'songs_files/jassica.jpg' %}" alt="">
                                    <div class="usy-name">
                                        <h3>Jassica William</h3>
                                        <span><img src="{%static 'songs_files/icon9.png' %}" alt="">New York</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="repcent">
                                    <ul class="star">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                    </ul>
                                    <span>5</span>
                                    <p>12 Reviews</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="bidrit">
                                    <h3>$510</h3>
                                    <p>In 10 Days</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="usy-dt">
                                    <img src="{%static 'songs_files/rock.jpg' %}" alt="">
                                    <div class="usy-name">
                                        <h3>Afzal Ahmad</h3>
                                        <span><img src="{%static 'songs_files/icon9.png' %}" alt="">India</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="repcent">
                                    <ul class="star">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                    </ul>
                                    <span>4.5</span>
                                    <p>2 Reviews</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="bidrit">
                                    <h3>$510</h3>
                                    <p>In 10 Days</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="usy-dt">
                                    <img src="{%static 'songs_files/smith.png' %}" alt="">
                                    <div class="usy-name">
                                        <h3>Rock Smith</h3>
                                        <span><img src="{%static 'songs_files/icon9.png' %}" alt="">Australia</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="repcent noreview">
                                    <ul class="star">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star-half-o"></i></li>
                                    </ul>
                                    <span>No rating</span>
                                    <p>0 Reviews</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="bidrit">
                                    <h3>$510</h3>
                                    <p>In 10 Days</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footy-sec mn no-margin">
        <div class="container">
            <ul>
                <li><a href="https://gambolthemes.net/workwise-new/help-center.html" title="">Help Center</a></li>
                <li><a href="https://gambolthemes.net/workwise-new/about.html" title="">About</a></li>
                <li><a href="#" title="">Privacy Policy</a></li>
                <li><a href="#" title="">Community Guidelines</a></li>
                <li><a href="#" title="">Cookies Policy</a></li>
                <li><a href="#" title="">Career</a></li>
                <li><a href="https://gambolthemes.net/workwise-new/forum.html" title="">Forum</a></li>
                <li><a href="#" title="">Language</a></li>
                <li><a href="#" title="">Copyright Policy</a></li>
            </ul>
            <p><img src="{%static 'songs_files/copy-icon2.png' %}" alt="">Copyright 2019</p>
            <img class="fl-rgt" src="{%static 'songs_files/logo2.png' %}" alt="">
        </div>
    </div>
</footer>

</div>

<script
    src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
<script type="text/javascript" src="{%static 'songs_files/jquery.min.js' %}"></script>
<script type="text/javascript" src="{%static 'songs_files/popper.js' %}"></script>
<script type="text/javascript" src="{%static 'songs_files/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{%static 'songs_files/jquery.range-min.js' %}"></script>
<script type="text/javascript" src="{%static 'songs_files/slick.min.js' %}"></script>
<script type="text/javascript" src="{%static 'songs_files/script.js' %}"></script>

</body>

</html>
{% endblock %}